spring:
  application:
    name: CHAT-SERVICE

  datasource:
    url: jdbc:postgresql://localhost:5432/chat_db
    username: postgres
    password: ${DB_PASSWORD:manasp1977}
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: false
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true
    open-in-view: false

server:
  port: 8089

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
    fetch-registry: true
    register-with-eureka: true
  instance:
    prefer-ip-address: true

logging:
  level:
    com.ansh.chat: DEBUG
    org.springframework.web.socket: DEBUG
  pattern:
    console: "%d{yyyy-MM-dd HH:mm:ss} - %msg%n"

# WebSocket configuration
websocket:
  max-text-message-buffer-size: 16384
  max-binary-message-buffer-size: 16384
  max-session-idle-timeout: 300000
